@import url('http://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
h2{
    font-family: "Roboto Slab", serif;
}
h2 span{
    font-weight: 300;
}
h3{
    font-family: "Roboto Slab", serif;
}
h3 span{
    font-weight: 300;
    font-style: italic;
}
h4{
    font-size: larger;
    font-family: "Roboto Slab", serif;
}
h4 span{
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.image-link {
    display: block;
    margin: 20px 0;
}
.gmail-link {
    color: #1a73e8;
    text-decoration: none;
    font-size: 18px;
}
.gmail-link:hover {
    text-decoration: underline;
}
.first-div {
    width: 500px;
    height: 500px;
    background-color: lightblue; /* You can choose any color you like */
    border-width: 3px;
    border-color: darkblue; /* You can choose any color you like */
    border-style: solid;
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.normal-para {
    color: green;
}
